.env
*.ipynb
data_full
__pycache__
.github
example
*.zip
.venv
!onepiece_rag/
onepiece_rag/*
!onepiece_rag/settings.yaml
!onepiece_rag/prompts

baseline/
baseline_chunk600/
baseline_gleaning3/
srec/
srec_chunk600/
srec_gleaning3/
